html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

#main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr minmax(0, 7fr) 1fr;
    grid-template-columns: 1fr;
}

header, footer {
    background-color: #2c3e50;
}
main{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popUp{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313e4b56;
}
.popUpContent{
    background-color: #2c3e50;
    border: 2px solid black;
    color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 10px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.twoBlockGrid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
.sizeInput{
    width: 80%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sizeInput:focus {
    outline: none;
    box-shadow: 0 0 6px #000000;
}
.submit{
    margin-top: 5%;
    width: 40%;
    border: none;
    border-radius: 10px;
    background-color: #c4971b;
    color: white;
    cursor: pointer;
}

#colorInput{
    width: 40%;
    height: 30%;
    border: none;
    outline: none;
    cursor: pointer;
}
#colorInput::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}
#colorInput::-webkit-color-swatch {
    border: none;
    outline: none;
    padding: 0;
}
header{
    display: grid;
    grid-template-columns: 10% 5% 5%
}
.fa-solid{
    font-size: 150%;
    cursor: pointer;
}
.borderLeft{
    margin-top: 30%;
    height: 40%;
    border-left: 1px solid white;
}
#container{
    /*border: 1px solid black;*/
    background-color: white;
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap:wrap-reverse;

}
.pixel:hover{
    background-color: lightgrey;
}